.env
.idea
.git
.vs/
backend/bin/
backend/obj/
backend/logs
Properties/
/frontend/.prettierrc
/frontend/certs/
**/bin/
**/obj/
backend/TODO.md
backend/CloudCore.Tests/coverage-report/
backend/CloudCore.Tests/TestResults/
/out
/plantuml
